<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/content/style.css" rel="stylesheet"/>
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="sm-4 logo-img">
                logo
            </div>
            <div class="sm-8">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">公司首页</a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>

    @RenderSection("foot", required: false)
</body>
</html>
