
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div> 
        HI,CHINA<br/>
        <br/>
        验证码:
        <img src="/Index/CreateImg" />
      
    </div>
</body>
</html>
